PYTHON

ASSIGNMENT - 3 [Data structure in advance]

1. Write a code to reverse a string

In [12]:
# to reverse a string in python using index
a = "mayur"
print(a[::-1])  #reversed

ruyam

2. Write a code to count the number of vowels in a string

In [3]:
a = "mayur"
vowels_count = 0
b = "AEIOUaeiou"
for r in a:
  if r in b:
    vowels_count+=1
print(vowels_count)

2

3.Write a code to check if a given string is a palindrome or not

In [4]:
a = input("Enter a string")
if a==a[::-1]:
   print("The given string is palindrome")
else:
  print("The give string is not a palindrome")

Enter a stringmalayalam
The given string is palindrome

4. Write a code to check if two given strings are anagrams of each

In [5]:
a = input("Enter string 1 ")
b = input("Enter string 2")
if sorted(a)==sorted(b):
  print("The given two string is anagrams of each other")
else:
  print("The given two string is not a anagrams of each other")

Enter string 1 mayur
Enter string 2ramyu
The given two string is anagrams of each other

5.Write a code to find all occurrences of a given substring within another string

In [7]:
a = "PW SKILLS HELLO PW SKILLS"
print  (a.find("PW"))
print(a.rfind("PW"))

0
16

6.Write a code to find all occurrences of a given substring within another string

In [8]:
r = input("Enter a string")
a = r[0]
result = ""
count = 0
r =r+" "
for x in r:
  if x==a:
    count+=1
  else:
    result = result+str(count)+str(a)
    ch =x
    count=1
print(result)

Enter a stringmpppppppppppp
1m1m1m1m1m1m1m1m1m1m1m1m1m

7.Write a code to determine if a string has all unique characters

In [11]:
def check_unique_chars(input_string):
    # Convert the string to a set to remove duplicate characters
    unique_chars = set(input_string)

    # If the length of the set is equal to the length of the string, all characters are unique
    if len(unique_chars) == len(input_string):
        return True
    else:
        return False

#
input_str = "mayur"


if check_unique_chars(input_str):
    print("The string has all unique characters.")
else:
    print("The string does not have all unique characters.")

The string has all unique characters.

8. Write a code to convert a given string to uppercase or lowercase

In [13]:
a = "mayur"
#uppercase
print(a.upper())
#lower case
print(a.lower())

MAYUR
mayur

9.Write a code to count the number of words in a string

In [14]:
string = "Welcome to python programming"
word_list = string.split()
word_count = len(word_list)
print(word_count)

4

10. Write a code to concatenate two strings without using the + operator

In [15]:
string1 = "hello"
string2 = "good morning"
concat = " ".join([string1,string2])
print(concat)

hello good morning

11.Write a code to remove all occurrences of a specific element from a list

In [16]:
def remove_all(lst, element):
    while element in lst:
        lst.remove(element)


# Example usage
my_list = [1, 2, 3, 4, 2, 5, 2]
remove_all(my_list, 2)
print(my_list)

[1, 3, 4, 5]

12.Implement a code to find the second largest number in a given list of integers

In [18]:

mylist = [1, 2, 8, 3, 12]
print(sorted(mylist, reverse=True)[1])

8

13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [ ]:
a =['a','b','b','c''c']
b =a.count('b')
print(b)

TypeError: 'int' object is not iterable

14. Write a code to reverse a list in-place without using any built-in reverse functions

In [20]:
a = ["mayur","virat","sakshi","coding"]
str(a)
print(a[::-1])

['coding', 'sakshi', 'virat', 'mayur']

15. Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [21]:
a =["apple","orange","banana","orange","apple"]
unique = []
for x in a:
  if x not in unique:
    unique.append(x)
print("update list is",unique)

update list is ['apple', 'orange', 'banana']

16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [22]:
def is_sorted(lst):
    ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
    descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))
    if ascending:
        return "The list is sorted in ascending order."
    elif descending:
        return "The list is sorted in descending order."
    else:
        return "The list is not sorted."

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]
list3 = [1, 3, 2, 4, 5]

print(is_sorted(list1))  # Output: The list is sorted in ascending order.
print(is_sorted(list2))  # Output: The list is sorted in descending order.
print(is_sorted(list3))

The list is sorted in ascending order.
The list is sorted in descending order.
The list is not sorted.

17. Write a code to merge two sorted lists into a single sorted list

---

In [23]:
firstList = [2, 7, 8, 9]
secondList = [0, 1, 4, 6]
result = []
i, j = 0, 0

while i < len(firstList) and j < len(secondList):
    if firstList[i] < secondList[j]:
        result.append(firstList[i])
        i = i + 1
    else:
        result.append(secondList[j])
        j = j + 1

result = result + firstList[i:] + secondList[j:]
print("Sorted List: " + str(result))

Sorted List: [0, 1, 2, 4, 6, 7, 8, 9]

18.Implement a code to find the intersection of two given lists

In [24]:
a = [1,2,3,5,4,6,3,2]
b = [3,5,5,8,2,1,5,1]
c =set(a) & set(b)
print(list(c))

[1, 2, 3, 5]

19. Create a code to find the union of two lists without duplicates

In [25]:
a =[1,5,89,7,8,2,5,6]
b = [5,5,8,9,6,48,56,280]
c = set(a) | set(b)
print(list(c))

[1, 2, 5, 6, 7, 8, 9, 48, 280, 89, 56]

20.Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [26]:
import random

a_list = ['welcome', 'to', 'datagy', 'where', 'you', 'will', 'learn', 'Python', 'and', 'more']
random.shuffle(a_list)

print(a_list)

['learn', 'Python', 'will', 'you', 'to', 'more', 'where', 'welcome', 'and', 'datagy']

21.Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
a = input("enter  num ")
b = input("enter num ")
c = set(a) & set(b)
print(tuple(c))

enter  num 1,5,8,9,3,5,5
enter num 8,2,5,9,6,5
(',', '5', '9', '8')

22.Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [2]:
a = (input("enter a numbers"))
b = (input("enter a numbers"))
c = set(a) & set (b)
print(set(c))

enter a numbers1,5,6,9,8,3,5
enter a numbers7,6,5,9,8,5,7,9
{'9', ',', '8', '5', '6'}

23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples

In [3]:
def concatenate_tuples(tup1, tup2):
    return tup1 + tup2

# Example usage:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print("Concatenated tuple:", result)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set

In [8]:
set1 = set(input("Enter elements of the first set separated by space: ").split())

# Get input for the second set
set2 = set(input("Enter elements of the second set separated by space: ").split())
set3 = set1 - set2
print(set3)

Enter elements of the first set separated by space: "mayur" "virat"
Enter elements of the second set separated by space: "virat" , "mayur"
set()

25. Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [10]:
def extract_elements(input_tuple, start_index, end_index):
    # Return a new tuple containing elements within the specified range of indices
    return input_tuple[start_index:end_index+1]

# Input tuple
input_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Input start and end indices
start_index = 2
end_index = 5

# Call the function to extract elements within the specified range of indices
result_tuple = extract_elements(input_tuple, start_index, end_index)

# Print the new tuple containing elements within the specified range of indices
print("New tuple containing elements within the specified range of indices:", result_tuple)

New tuple containing elements within the specified range of indices: (3, 4, 5, 6)

 26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two set

In [11]:
set1 = set(input("Enter elements of the first set separated by space: ").split())

# Get input for the second set
set2 = set(input("Enter elements of the second set separated by space: ").split())
set3 = set1.union(set2)
print(set3)

Enter elements of the first set separated by space: "m" "v"
Enter elements of the second set separated by space: "w"  "v"  "s"
{'"w"', '"s"', '"m"', '"v"'}

27. Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [ ]:
a = tuple((input("enter a numbers")))

print(max(a))
print(min(a))

enter a numbers8,9,6,5,5,9
9
,

28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [13]:
set1 = {3,5,6,7,4,3,2,4}
set2 = {4,45,6,7,2,4,2,4,21,2}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))

{2, 3, 4, 5, 6, 7, 45, 21}
{2, 4, 6, 7}
{3, 5}

29. Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuples

In [14]:
# Program to count the number of times an element
# Present in the list


def countX(tup, x):
	count = 0

	for ele in tup:
		if (ele == x):
			count = count + 1
	return count

tup = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
enq = 4
enq1 = 10
enq2 = 8

print(countX(tup, enq))
print(countX(tup, enq1))
print(countX(tup, enq2))

0
3
4

30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [ ]:
set_6 = str(input("enter strings "))
set_9 = str(input("enter strings "))
set_6 = set(set_6)
set_9 = set(set_9)
set_22 = set_6.symmetric_difference(set_9)
print(set_22)

enter strings "ramesh" "neetu" "suresh"
enter strings "ram" "aanchal" "baby"
{'l', 'e', 'u', 't', 'y', 'b', 's', 'c'}

31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list31.

In [ ]:
def CountFreq(li):
    freq = {}
    for item in li:
        if (item in freq):
            freq[item] += 1
        else:
            freq[item] = 1
      print(freq)
li =[1, 1, 3, 2, 6, 5, 3, 1, 3, 3, 1, 4, 6, 4, 4, 2, 2, 2, 2]
CountFreq(li)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

32. write a code that takes two dictionaries as input and merges them into a single dictionary.if there are common keys,the value should be added together.

In [17]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()  # Start with dict1's keys and values
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value  # Add values if key is common
        else:
            merged_dict[key] = value  # Otherwise, add new key-value pair
    return merged_dict

# Example usage
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 15, 'c': 5, 'd': 50}

result = merge_dictionaries(dict1, dict2)
print(result)  # Output: {'a': 10, 'b': 35, 'c': 35, 'd': 50}

{'a': 10, 'b': 35, 'c': 35, 'd': 50}

33.Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [19]:
market = {"fruits": {"apple": 20, "orange": 60, "strawberry": 50, "grapes": 200},
          "vegetables": {"carrot": 50, "beans": 100, "tomato": 70}}

# printing the value by accessing using square brackets with key of dictionary
print("Orange Price:",market["fruits"]["orange"])
print("Grapes Price:",market["fruits"]["grapes"])
print("Tomato Price:",market["vegetables"]["tomato"])

Orange Price: 60
Grapes Price: 200
Tomato Price: 70

34. write a code that takes a dictionary as input and return a sorted version of it based on the value.you can choose whether to sort in ascending or descending order.

In [20]:
def sort_dictionary_by_value(input_dict, ascending=True):
    # Sort the dictionary based on values
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict

# Example usage
input_dict = {'apple': 10, 'banana': 5, 'cherry': 15, 'date': 8}

# Sort in ascending order
ascending_sorted_dict = sort_dictionary_by_value(input_dict, ascending=True)
print("Ascending:", ascending_sorted_dict)

# Sort in descending order
descending_sorted_dict = sort_dictionary_by_value(input_dict, ascending=False)
print("Descending:", descending_sorted_dict)

Ascending: {'banana': 5, 'date': 8, 'apple': 10, 'cherry': 15}
Descending: {'cherry': 15, 'apple': 10, 'date': 8, 'banana': 5}

35. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

In [22]:
# input dict
input_dict = {'statics': 90, 'DSA': 80, 'math': 95, 'Python': 75}

# sorting values in descending order
output = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=True))


print(output)

{'math': 95, 'statics': 90, 'DSA': 80, 'Python': 75}